<!DOCTYPE html>
<html>
	<title>Xdcheckin</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=0.4, user-scalable=no">
	<link rel="shortcut icon" href="#"/>
	<link rel="stylesheet" href="https://g.alicdn.com/apsara-media-box/imp-web-player/2.18.1/skins/default/aliplayer-min.css" />
	<script type="text/javascript" src="https://g.alicdn.com/apsara-media-box/imp-web-player/2.18.1/aliplayer-min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
	<script type="text/javascript" src="static/lib/long-press-event/long-press-event.min.js"></script>
	<script type="text/javascript" src="static/lib/jsqrcode/llqrcode.js"></script>
	<script type="text/javascript" src="static/classrooms.js"></script>
	<script type="text/javascript" src="xdcheckin/get/classrooms.js"></script>
	<script type="text/javascript" src="xdcheckin/get/locations.js"></script>

	<head>
		<style>
			div {font-size:22px; font-family: sans-serif;}
			button {height: 40px; font-size: 22px; user-select: none;}
			table, th, td {border: 1px solid black; border-collapse: collapse; text-align: center;}
			table {width: 100%;}
		</style>
	</head>

	<body id="player-body" style="display: none; padding: 0; margin: 0;">
		<div id="xdcheckin-update-div" style="display: none; text-align: center; font-weight: bold;"></div>
		<p align="center">
			<button onclick="listClassroom()">Select Classroom</button>
			<button onclick="reloadClassroom(...randClassroom())">I'm Feeling Lucky</button>
			<button onclick="loadExtracted()">Load URL</button>
			<button id="extract-classroom-button" onclick="extractClassroom()" style="display: none;">Extract URL</button>
		</p>
		<div id="classrooms-list-div" style="display: none"></div>

		<p align="center" id="chaoxing-buttons">
			<button id="chaoxing-login-button" onclick="chaoxingLogin()">Chaoxing Login</button>
		</p>
		<div id="curriculum-list-div" style="display: none"></div>
		<div id="locations-list-div" style="display: none"></div>
		<div id="activities-list-div" style="display: none"></div>

		<p align="center">
			<B id="title" style="font-size:48px; font-family: sans-serif">Xdcheckin</B>
			<br>
			<button onclick="play(player0); play(player1); play(player2); play(player3)">Play All</button>
			<button onclick="stop(player0); stop(player1); stop(player2); stop(player3)">Stop All</button>
			<button onclick="unmute(player0); unmute(player1); unmute(player2); unmute(player3)">Unmute All</button>
			<button onclick="mute(player0); mute(player1); mute(player2); mute(player3)">Mute All</button>
			<button onclick="sync()">Sync All</button>
			<button onclick="resize()">Resize All</button>
		</p>

		<p align="center">
			<B style="font-size:40px; font-family: sans-serif">PPTVideo</B>
			&emsp;&emsp;
			<button onclick="play(player0)">Play</button>
			<button onclick="stop(player0)">Stop</button>
			<button onclick="unmute(player0)">Unmute</button>
			<button onclick="mute(player0)">Mute</button>
			<button id="player0-button-scan" onclick="scan(player0)">Scan (Whole)</button>
		</p>
		<div id="player0-div"></div>
		<div id="player0-decodeddata-div" style="text-align: center; word-wrap: break-word; width: 400px;"></div>

		<p align="center">
			<B style="font-size:40px; font-family: sans-serif">TeacherTrack</B>
			&emsp;&emsp;
			<button onclick="play(player1)">Play</button>
			<button onclick="stop(player1)">Stop</button>
			<button onclick="unmute(player1)">Unmute</button>
			<button onclick="mute(player1)">Mute</button>
		</p>
		<div id="player1-div"></div>

		<p align="center">
			<B style="font-size:40px; font-family: sans-serif">TeacherFull</B>
			&emsp;&emsp;
			<button onclick="play(player2)">Play</button>
			<button onclick="stop(player2)">Stop</button>
			<button onclick="unmute(player2)">Unmute</button>
			<button onclick="mute(player2)">Mute</button>
		</p>
		<div id="player2-div"></div>

		<p align="center">
			<B style="font-size:40px; font-family: sans-serif">StudentFull</B>
			&emsp;&emsp;
			<button onclick="play(player3)">Play</button>
			<button onclick="stop(player3)">Stop</button>
			<button onclick="unmute(player3)">Unmute</button>
			<button onclick="mute(player3)">Mute</button>
		</p>
		<div id="player3-div"></div>
		<div id="footer-div" style="text-align: center">
			Copyright 2023 Pairman
			<a href="https://github.com/Pairman/Xdcheckin">Source Code</a>
		</div>
	</body>

	<script>
		/*
	 	 * Script.
	   	 */

		/* Check EULA state. */
		if (('; ' + document.cookie).split(`; eula=`).pop().split(';')[0] != 1)
			window.location.href = '../';
		else
			document.getElementById("player-body").style.display = "block";

		/* Check updates for Xdcheckin. */
		var xdcheckin_version = "0.0.0";
		var xdcheckin_latest_release = {};
		var xdcheckin_update_available = false;
		get("/xdcheckin/get/version").then((res) => {
			if (res.status_code != 200)
				return;
			xdcheckin_version = res.text;
			get("/xdcheckin/get/releases/latest").then((res) => {
				if (res.status_code != 200) {
					var xdcheckin_latest_release = {
						"tag_name": ('; '+document.cookie).split(`; xdcheckin_latest_release_tag_name=`).pop().split(';')[0],
						"html_url": ('; '+document.cookie).split(`; xdcheckin_latest_release_html_url=`).pop().split(';')[0]
					}
				}
				xdcheckin_latest_release = res.json();
				let xdcheckin_version_arr = xdcheckin_version.split(".");
				let xdcheckin_latest_release_version_arr = xdcheckin_latest_release["tag_name"].split(".");
				for (let i = 0; i < 3; ++i) {
					if (parseInt(xdcheckin_version_arr[i]) < parseInt(xdcheckin_latest_release_version_arr[i])) {
						xdcheckin_update_available = true;
						break;
					}
				}
				if (xdcheckin_update_available) {
					document.cookie = "xdcheckin_latest_release_tag_name=" + xdcheckin_latest_release["tag_name"] + "; max-age=31536000;";
					document.cookie = "xdcheckin_latest_release_html_url=" + xdcheckin_latest_release["html_url"] + "; max-age=31536000;";
					let e = document.getElementById("xdcheckin-update-div");
					e.innerHTML = "<a href=\"" + xdcheckin_latest_release["html_url"] + "\">New APP version available! Download " + xdcheckin_latest_release["tag_name"] + " here.</a>";
					e.style.display = "block";
				}
			}).catch((error) => {});
		}).catch((error) => {});

		/* Calculate video player dimensions. */
		var strWidth = "", strHeight = "";
		calculatePlayerSize();
		document.getElementById("player0-decodeddata-div").style.width = strWidth;
		

		/* Generate clasroom buttons list. */
		var buildingsArr = [], buildingNamesArr = [];
		const classrooms_list_div = document.getElementById("classrooms-list-div");
		for (let buildingName in urls) {
			let building = urls[buildingName];
			let div = document.createElement("div");
			div.innerText = buildingName + ": ";
			classrooms_list_div.appendChild(div);
			let classroomArr = [], classroomNamesArr = [];
			for (let classroomName in building) {
				let classroom = building[classroomName];
				classroomArr.push(classroom);
				classroomNamesArr.push(classroomName);
				let button = document.createElement("button");
				button.innerText = classroomName;
				button.setAttribute('onclick', 'reloadClassroom(\"' + classroom + '\", \"' + classroomName + '\")');
				classrooms_list_div.appendChild(button);
			}
			buildingsArr.push(classroomArr);
			buildingNamesArr.push(classroomNamesArr);
		}

		/* Initialize classroom name and urls. */
		var classroomName = ('; '+document.cookie).split(`; classroomName=`).pop().split(';')[0];
		var classroom = ('; '+document.cookie).split(`; classroom=`).pop().split(';')[0];
		var pptVideo, teacherTrack, teacherFull, studentFull;
		if (classroom == '' || classroomName == '')
			[classroom, classroomName] = randClassroom();
		setClassroom(classroom, classroomName);

		/* Generate location buttons list. */
		const locations_list_div = document.getElementById("locations-list-div");
		for (let buildingName in locations) {
			let button = document.createElement("button");
			button.innerText = buildingName + " (" + locations[buildingName]["latitude"] + ", " + locations[buildingName]["longitude"] + ")";
			button.setAttribute('onclick', 'location_ = ' + JSON.stringify(locations[buildingName]));
			locations_list_div.appendChild(button);
		}

		/* Initialize Chaoxing class and location. */
		var chaoxing;
		var chaoxing_logining = false;
		var chaoxing_logined = false;
		var courses = {};
		var curriculum = {};
		var activities_list_loading = false;
		var location_str = ('; '+document.cookie).split(`; location=`).pop().split(';')[0];
		var location_ = (location_str == "") ? locations["B楼"] : JSON.parse(location_str);

		/* Create video players. */
		scanButtonAddEventListener("player0");
		var player0 = new Aliplayer({
			id: "player0-div",
			isLive: true,
			useH5Prism: true,
			width: strWidth,
			height: strHeight,
			autoplay: true,
			playsinline: true,
			source: pptVideo
		}, function(player0) {
			player0.mute();
			player0.play();
			player0.on("canplay", sync);
		});

		var player1 = new Aliplayer({
			id: "player1-div",
			isLive: true,
			useH5Prism: true,
			width: strWidth,
			height: strHeight,
			playsinline: true,
			source: teacherTrack
		}, function(player1) {
			player1.mute();
			player1.stop();
		});

		var player2 = new Aliplayer({
			id: "player2-div",
			isLive: true,
			useH5Prism: true,
			width: strWidth,
			height: strHeight,
			playsinline: true,
			source: teacherFull
		}, function (player2) {
			player2.mute();
			player2.stop();
		});

		var player3 = new Aliplayer({
			id: "player3-div",
			isLive: true,
			useH5Prism: true,
			width: strWidth,
			height: strHeight,
			playsinline: true,
			source: studentFull
		}, function(player3) {
			player3.mute();
			player3.stop();
		});

		/*
	 	 * Function definitions.
	   	 */

		/* Assertion. */
		function assert(condition, message) {
			if (!condition)
				throw new Error(message ||"Assertion failed");
		}

		/* Player size controls. */
		function getScrollBarWidth() {
			let e = document.createElement("div");
			e.style.cssText = "overflow:scroll; visibility:hidden; position:absolute;";
			document.body.appendChild(e);
			let w = e.offsetWidth - e.clientWidth;
			e.remove();
			return w;
		}

		function calculatePlayerSize(){
			let w = (window.innerWidth - getScrollBarWidth());
			let h = parseInt(w / 16 * 9);
			strWidth = w.toString() + "px";
			strHeight = h.toString() + "px";
		}

		function resize() {
			calculatePlayerSize();
			document.getElementById("player0-decodeddata-div").style.width = strWidth;
			player0.setPlayerSize(strWidth, strHeight);
			player1.setPlayerSize(strWidth, strHeight);
			player2.setPlayerSize(strWidth, strHeight);
			player3.setPlayerSize(strWidth, strHeight);
		}

		/* Classrooms list toggle. */
		function listClassroom() {
			let e = document.getElementById("classrooms-list-div");
			if (e.style.display == "none")
				e.style.display = "block";
			else
				e.style.display = "none";
		}

		function tablifyCurriculum() {
			let table = document.createElement("table");
			table.border = "1";
			let tableBody = document.createElement("tbody");
			for (let class_id in curriculum) {
				let course = curriculum[class_id];
					let tr = document.createElement("tr");
				let td = document.createElement("td");
				td.appendChild(document.createTextNode(course["name"]));
				tr.appendChild(td);
				td = document.createElement("td");
				for (i in course["teacher"]) {
					td.appendChild(document.createTextNode(course["teacher"][i] + " "));
				}
				tr.appendChild(td);
				td = document.createElement("td");
				td.appendChild(document.createTextNode(course["location"]));
				tr.appendChild(td);
				tableBody.appendChild(tr);
			}
			table.appendChild(tableBody);
			document.getElementById("curriculum-list-div").appendChild(table);
		}

		function listCurriculum() {
			let e = document.getElementById("curriculum-list-div");
			if (e.style.display == "none")
				e.style.display = "block";
			else
				e.style.display = "none";
		}

		/* Locations list toggle. */
		function listLocation() {
			let e = document.getElementById("locations-list-div");
			if (e.style.display == "none")
				e.style.display = "block";
			else
				e.style.display = "none";
		}

		/* Input location. */
		function inputLocation() {
			let latitude = prompt("Input latitude with maximum 6 float digits:");
			let longitude = prompt("Input longitude with maximum 6 float digits:");
			let address = prompt("Input address:");
			if (!latitude || !longitude || isNaN(latitude) || isNaN(longitude) || /[`!@#$%^&*_+\=\[\]{};':"\\|,.<>\/?~]/.test(address)) {
				alert("Invalid location.");
				return;
			}
			location_ = {"latitude": latitude, "longitude": longitude, "address": address};
			document.cookie = "location=" + JSON.stringify(location_) + "; max-age=31536000;";
		}

		/* Activities list toggle. */
		async function listActivity() {
			if (activities_list_loading)
				return;
			activities_list_loading = true;
			let e = document.getElementById("activities-list-div");
			if (e.style.display == "none") {
				e.innerHTML = "Loading activities.";
				e.style.display = "block";
				let res;
				try {
					res = await get("/chaoxing/get_activities");
				}
				catch (error) {
					(res = {}).status_code == 500;
				}
				if (res.status_code != 200) {
					e.innerHTML = "No ongoing activities.";
				}
				else {
					let activities = JSON.parse(res.text);
					e.replaceChildren();
					for (let class_id in activities) {
						let class_activities = activities[class_id];
						let div = document.createElement("div");
						div.innerText = courses[class_id]["name"] + ": ";
						e.appendChild(div);
						for (let i in class_activities) {
							let activity = class_activities[i];
							let button = document.createElement("button");
							let type = "";
							if (activity["type"] == "2") {
								button.setAttribute("disabled", "");
							}
							else {
								button.setAttribute('onclick', 'chaoxing.')
							}
							type = ((activity["type"] == "2") ? "Qrcode Checkin" : "Location Checkin");
							button.innerText = type + " (" + activity["name"] + ", " + activity["active_id"] + ", " + activity["time_left"] + ")";
							button.setAttribute('onclick', 'chaoxingLocationCheckin(' + JSON.stringify({"active_id": activity["active_id"]}) + ')');
							e.appendChild(button);
						}
					}
				}
			}
			else {
				e.style.display = "none";
			}
			activities_list_loading = false;
		}

		/* Video sources control. */
		function setClassroom(urlStr, classroomNameInternal = "Unknown") {
			let url = new URL(urlStr);
			let params = new URLSearchParams(decodeURIComponent(url.search));
			let info = JSON.parse(params.get("info"));
			document.cookie = "classroomName=" + classroomNameInternal + "; max-age=31536000;";
			document.cookie = "classroom=" + urlStr + "; max-age=31536000;";
			document.getElementById("title").innerText = "Xdcheckin: " + classroomNameInternal;
			classroom = urlStr;
			classroomName = classroomNameInternal;
			pptVideo = info.videoPath.pptVideo;
			teacherTrack = info.videoPath.teacherTrack;
			teacherFull = info.videoPath.teacherFull;
			studentFull = info.videoPath.studentFull;
		}

		function reloadClassroom(urlStr, classroomName = "Unknown") {
			setClassroom(urlStr, classroomName);
			player0.loadByUrl(pptVideo);
			player1.loadByUrl(teacherTrack);
			mute(player1);
			stop(player1);
			player2.loadByUrl(teacherFull);
			mute(player2);
			stop(player2);
			player3.loadByUrl(studentFull);
			mute(player3);
			stop(player3);
		}

		async function extractClassroom() {
			let input = prompt("Input liveId or livestream URL:");
			try {
				let url = new URL(input);
				let params = new URLSearchParams(decodeURIComponent(url.search));
				let liveId = JSON.parse(params.get("liveId"));
			}
			catch (err) {
				if (!input || input.length != 8 || isNaN(input)) {
					alert("Invalid liveId.");
					return;
				}
				liveId = input;
			}
			try {
				let res = await get("/chaoxing/extract_url/" + liveId);
				assert(res.status_code == 200);
				let url = new URL(res.text);
				let info = JSON.parse((new URLSearchParams(decodeURIComponent(url.search))).get("info"));
				assert(!("msg" in info["videoPath"]));
				let info_new = {"videoPath": {}};
				info_new["videoPath"]["teacherFull"] = info["videoPath"]["teacherFull"];
				info_new["videoPath"]["teacherTrack"] = info["videoPath"]["teacherTrack"];
				info_new["videoPath"]["pptVideo"] = info["videoPath"]["pptVideo"];
				info_new["videoPath"]["studentFull"] = info["videoPath"]["studentFull"];
				let url_new = `${url.protocol}//${url.hostname}${url.pathname}` + "?info=" + encodeURIComponent(JSON.stringify(info_new));
				prompt("Extracted URL:", url_new);
			}
			catch (err) {
				alert("Failed to extract URL.")
			}
		}

		function loadExtracted() {
			let input = prompt("Input the extracted URL:");
			try {
				let url = new URL(input);
			}
			catch (err) {
				alert("Invalid URL.");
				return;
			}
			reloadClassroom(input, "Extracted");
		}

		/* Retrieve last opened classroom if existent, otherwise randomize one. */
		function randClassroom() {
			let b = Math.floor(Math.random() * buildingsArr.length);
			let c = Math.floor(Math.random() * buildingsArr[b].length);
			return [buildingsArr[b][c], buildingNamesArr[b][c]];
		}

		/* Video player controls. */
		function sync() {
			t = player0.getCurrentTime();
			if (player1.getStatus() == "playing")
				player1.seek(t);
			if (player2.getStatus() == "playing")
				player2.seek(t);
			if (player3.getStatus() == "playing")
				player3.seek(t);
		}

		function play(player) {
			player.initPlay();
		}

		function stop(player) {
			player.stop();
		}

		function unmute(player) {
			player.setVolume(1);
		}

		function mute(player) {
			player.setVolume(0);
		}

		/* Qrcode scanning and jump if being valid signin page. */
		function screenshot(player) {
			let video = player.tag;
			let canvas = document.createElement('canvas');
			canvas.width = video.videoWidth;
			canvas.height = video.videoHeight;
			let ctx = canvas.getContext("2d");
			ctx.save();
			ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
			let img_src = canvas.toDataURL("image/jpeg", 1.0);
			ctx.restore();
			canvas.remove();
			return img_src;
		}

		function screenshotRightHalf(player) {
			let video = player.tag;
			let canvas = document.createElement('canvas');
			canvas.width = parseInt(0.56 * video.videoWidth);
			canvas.height = video.videoHeight;
			let ctx = canvas.getContext("2d");
			ctx.save();
			ctx.drawImage(video, video.videoWidth - canvas.width, 0, canvas.width, canvas.height, 0, 0, canvas.width, canvas.height);
			let img_src = canvas.toDataURL("image/jpeg", 1.0);
			ctx.restore();
			canvas.remove();
			return img_src;
		}

		function scan(player) {
			qrcode.decode(screenshot(player));
		}

		function scanRightHalf(player) {
			qrcode.decode(screenshotRightHalf(player));
		}

		/* Fix wrong encodings introduced by libjsqrcode in URL from Qrcode. */
		function fixMalformedDecodedData(decodedData) {
			let map_decodedData = {"%3A": ":", "%3F": "?", "%3D": "=", "%26": "&", "DB_STRATEG%09": "DB_STRATEGY", "DB_STRATEG%19": "DB_STRATEGY", "WTRATEGY_PARA": "STRATEGY_PARA", "@": "B", "%C4": "D", "%B": "", "%C": ""};
			for (let key in map_decodedData)
				decodedData = decodedData.replaceAll(key, map_decodedData[key]);
			return decodedData;
		}

		qrcode.callback = async function(decodedData) {
			document.getElementById("player0-decodeddata-div").innerHTML = "Scan result: <br>" + decodedData;
			assert(decodedData.indexOf("mobilelearn.chaoxing.com/widget/sign") != -1, "Not a qrcode checkin URL.")
			try {
				decodeURIComponent(decodedData);
			}
			catch (error) {
				decodedData = fixMalformedDecodedData(decodedData);
				document.getElementById("player0-decodeddata-div").innerHTML = "Scan result (fixed): <br>" + decodedData;
			}
			try {
				let params = new URLSearchParams(new URL(decodedData).search);
				location_["ranged"] = "1";
				let res = await get("/chaoxing/checkin_checkin_qrcode/{\"active_id\": \"" + params.get("id") + "\", \"enc\": \"" + params.get("enc") + "\", \"location\": " + JSON.stringify(location_) + "}");
				if (res.status_code == 200)
					alert("Checked in successfully.");
				else
					document.getElementById("player0-decodeddata-div").innerHTML = "Checkin failed: <br>" + decodedData;
			}
			catch (error) {
				document.getElementById("player0-decodeddata-div").innerHTML = "Checkin error: <br>" + error.message + " <br>" + decodedData;
			}
		};

		/* Long press event for mode switching of scan button. */
		function scanButtonAddEventListener (player_var_name, scan_button_id = player_var_name + "-button-scan", long_press_delay = 300) {
			let b = document.getElementById(scan_button_id);
			b.setAttribute('data-long-press-delay', long_press_delay);
			b.addEventListener('long-press', function(e) {
				if (e.target.getAttribute('data-long-press-status') != 'true') {
					e.target.setAttribute('data-long-press-status', 'true');
					e.target.setAttribute('onclick', 'scanRightHalf(' + player_var_name + ')');
					e.target.innerText = "Scan (Right)";
				}
				else {
					e.target.setAttribute('data-long-press-status', 'false');
					e.target.setAttribute('onclick', 'scan(' + player_var_name + ')');
					e.target.innerText = "Scan (Whole)";
				}
			});
		}

		/* Location checkin. */
		async function chaoxingLocationCheckin(activity) {
			location_["ranged"] = "1";
			let res = await get("/chaoxing/checkin_checkin_location/{\"active_id\": \"" + activity["active_id"] + "\", \"location\": " + JSON.stringify(location_) + "}");
			if (res.status_code == 200)
				alert("Checked in successfully.");
			else
				alert("Checkin failed.");
		}

		/* Log into Chaoxing account. */
		async function chaoxingLogin() {
			if (chaoxing_logining)
				return;
			chaoxing_logining = true;
			username = ('; '+document.cookie).split(`; username=`).pop().split(';')[0];
			password = ('; '+document.cookie).split(`; password=`).pop().split(';')[0];
			if (username == "" || password == "") {
				username = prompt("Input Chaoxing username:");
				password = prompt("Input Chaoxing password");
			}
			else {
				if(!confirm("Use previously entered account " + username + "?")) {
					username = prompt("Input Chaoxing username:");
					password = prompt("Input Chaoxing password");
				}
			}
			if (!username || !password) {
				alert("Invalid input.");
				chaoxing_logining = false;
				return;
			}
			alert("Logging in.");
			let res;
			try {
				res = await get("/chaoxing/login/{\"username\": \"" + username + "\", \"password\": \"" + password + "\"}");
			}
			catch (error) {
				(res = {}).status_code = 500;
			}
			chaoxing_logined = (res.status_code == 200);
			if (chaoxing_logined) {
				alert("Logged in successfully.");
				document.cookie = "username=" + username + "; max-age=31536000;";
				document.cookie = "password=" + password + "; max-age=31536000;";
				let res = await get("/chaoxing/get_courses");
				if (res.status_code == 200)
					courses = JSON.parse(res.text);
				res = await get("/chaoxing/get_curriculum");
				if (res.status_code == 200)
					curriculum = JSON.parse(res.text);
				tablifyCurriculum();
				document.getElementById("extract-classroom-button").style.display = "inline";
				let chaoxing_buttons = document.getElementById("chaoxing-buttons");
				let button_curriculum = document.createElement("button");
				let button_locations = document.createElement("button");
				let button_input_location = document.createElement("button");
				let button_activities = document.createElement("button");
				button_curriculum.innerText = "Show Curriculum";
				button_locations.innerText = "Select Location";
				button_input_location.innerText = "Input Location";
				button_activities.innerText = "Check Activities";
				button_curriculum.setAttribute('onclick', 'listCurriculum()');
				button_locations.setAttribute('onclick', 'listLocation()');
				button_input_location.setAttribute('onclick', 'inputLocation()');
				button_activities.setAttribute('onclick', 'listActivity()');
				chaoxing_buttons.appendChild(button_curriculum);
				chaoxing_buttons.appendChild(button_locations);
				chaoxing_buttons.appendChild(button_input_location);
				chaoxing_buttons.appendChild(button_activities);
				document.getElementById("chaoxing-login-button").style.display = "none";
			}
			else
				alert("Login failed.");
			chaoxing_logining = false;
		}

		async function get(url = "", params = {}) {
			class _get {
				constructor(status_code, text){
					this.status_code = status_code;
					this.text = text;
				}
				json(){
					try{
						return JSON.parse(this.text);
					}
					catch (error) {
						return undefined;
					}
				}
			};
			return $.ajax({
				cache: true,
				type: "GET",
				url: url,
				data: params,
				contentType: "text/plain; charset=utf-8",
				dataType: "text"
			}).then(function (res) {
				return new _get(200, res);
			}).fail(function (req, status_code, error) {
				return new _get(status_code, "");
			});
		}
	</script>
</html>
