<!DOCTYPE html>
<html style="height: 100%">
	<title>Xdclassroom</title>
	<meta name="viewport" content="user-scalable=no">
	<link rel="shortcut icon" href="#"/>

	<body id="eula-body" style="display:none; min-height: 80%; padding-top: 10%; padding-bottom: 10%; user-select: none">
		<p align="center">
			<B style="font-size:48px; font-family: sans-serif">Xdclassroom</B>
			<br><br><br><br>
			<B style="font-size:36px; font-family: sans-serif">
				This site hosts classroom livestreams.
				<br><br>
				By clicking you agree to the following terms:
				<br><br>
				1. This work is for study use only.
				<br><br>
				2. This work comes with absolutely no warranty.
				<br><br>
				You have been warned.
			</B>
			<br><br><br><br>
			<button style="height: 48px; font-size: 36px; user-select: none" onclick="document.cookie = 'eula=1; max-age=31536000;'; window.location.href = 'player.html'">Agree & Continue</button>
		</p>
	</body>

	<script>
		if (('; ' + document.cookie).split(`; eula=`).pop().split(';')[0] == 1)
			window.location.href = 'player.html';
		else
			document.getElementById("eula-body").style.display = "block";
	</script>
</html>
